version: 2.1

orbs:
  gcp-gke: circleci/gcp-gke@0.2.0

jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.23.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            mv ~/docker-compose /usr/local/bin/docker-compose
      - setup_remote_docker:
         docker_layer_caching: true

      - run:
          name: Start container and verify it is working
          working_directory: ~/repo/api
          command: |
            set -x
            docker-compose -f docker-compose.circle.yaml up -d
            docker-compose exec api pipenv run flask db upgrade
            docker-compose exec api pipenv run pytest
      - run:
          name: Build and push Docker image
          working_directory: ~/repo/api
          command: |
            docker build --target prod-env -t gcr.io/the-human-factor/human-api:${CIRCLE_SHA1} .
            echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
            gcloud config set project $GOOGLE_PROJECT_ID
            gcloud config set compute/zone $GOOGLE_COMPUTE_ZONE
            echo $GCLOUD_SERVICE_KEY | docker login -u _json_key --password-stdin https://gcr.io
            docker push gcr.io/the-human-factor/human-api:${CIRCLE_SHA1}
